name: 'Kustomize GitHub Actions'
on:
  issue_comment:
    types:
    - created
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  kustomize:
    name: 'Kustomize'
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request && github.event.comment.body == '/diff'}}
    steps:
      - uses: xt0rted/pull-request-comment-branch@v1
        id: comment-branch    
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Kustomize Build'
        uses: karancode/kustomize-github-action@master
        with:
          kustomize_version: '4.5.7'
          kustomize_build_dir: './envs/qa'
          kustomize_comment: true
          kustomize_output_file: "gitops/rendered.yaml"
          kustomize_build_options: "--load_restrictor none"
          enable_alpha_plugins: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_ACCESS_TOKEN }}
